{
    "extends": ["stylelint-config-recommended"],
    "overrides": [
        {
            "files": ["*/.scss"],
            "customSyntax": "postcss-scss"
        }
    ],
    "plugins": ["stylelint-scss", "stylelint-order"],
    "rules": {
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "indentation": 4,
        "unit-allowed-list": ["s", "em", "rem", "fr", "%", "px", "vh", "deg", "vmin"],
        "rule-empty-line-before": [
            "always",
            {
                "except": ["after-rule"]
            }
        ],
        "block-closing-brace-empty-line-before": "never",
        "string-quotes": "double",
        "no-descending-specificity": null,
        "order/order": [
            {
                "type": "at-rule"
            },
            "declarations",
            "rules"
        ],
        "function-linear-gradient-no-nonstandard-direction": null,
        "order/properties-order": [
            "content",
            "animation",
            "display",
            "order",
            "align-self",
            "flex-direction",
            "flex-wrap",
            "align-items",
            "align-content",
            "justify-content",
            "flex-shrink",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "line-height",
            "font-family",
            "font-size",
            "font-weight",
            "font-style",
            "color",
            "letter-spacing",
            "text-align",
            "text-transform",
            "text-decoration",
            "white-space",
            "text-overflow",
            "word-wrap",
            "list-style",
            "list-style-position",
            "list-style-type",
            "vertical-align",
            "border-collapse",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-radius",
            "border-style",
            "border-width",
            "border-color",
            "border-top-color",
            "border-left-color",
            "border-bottom-color",
            "border-right-color",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-size",
            "background-position",
            "filter",
            "background-attachment",
            "background-clip",
            "background-origin",
            "background-blend-mode",
            "mix-blend-mode",
            "perspective",
            "zoom",
            "box-shadow",
            "opacity",
            "visibility",
            "text-shadow",
            "transform",
            "transform-origin",
            "transition",
            "transition-delay",
            "will-change",
            "float",
            "clear",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "box-sizing",
            "-webkit-appearance",
            "-moz-appearance",
            "appearance",
            "resize",
            "object-fit",
            "scroll-snap-type",
            "scroll-snap-points-y",
            "scroll-padding",
            "scroll-snap-align",
            "overflow",
            "overflow-x",
            "overflow-y",
            "cursor",
            "pointer-events",
            "user-select",
            "position",
            "top",
            "bottom",
            "left",
            "right",
            "z-index"
        ]
    }
}
